*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.firstimage{
    height: 100vh;
    background-image: linear-gradient(to right,black,rgb(0, 0, 0),rgba(0, 0, 0, 0.582))
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
}
.logoblock{
    height: 100%;
    width: 40%;
    margin-left: 20px;
   
}
.menublock{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
 
    height: 100%;
    width: 20%;
    
  
}
.menu{
    color: white;
    text-decoration: none;
}
a:hover{
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 5px;
    border-radius: 5px;
}
.firstimage2{
    height: 89.5vh;
    width: 65vw;
}
.firstin{
    height: 89.5vh;
    width: 65vw;
    box-shadow: 0 0 0 white;
}
.secondimage{
    height: 89.5vh;
    width: 35vw;
}
.secondin{
    height: 89.5vh;
    width: 34.2vw;

}
.insideblock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menupage{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
}
.abouttext{
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-size-adjust: 20px;
    padding-bottom: 5px;
}
.i1,.i2,.i3{
    height: 60vh;
    width: 22vw;
    position: relative;
    top: 5vh;
}
.aboutimage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
.i1{
    background-image: url(./resources/image5.jpg);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(221, 210, 210, 0.316);
}
.i2{
    background-image: url(./resources/image6.jpg);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(221, 210, 210, 0.316);
}
.i3{
    background-image: url(./resources/image7.jpg);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(221, 210, 210, 0.316);
}
.img1{
    height: 49vh;
    width: 22vw;
}
h2{
    margin-top: 10px;
    color: white;
}
.lorem{
    color: rgba(255, 255, 255, 0.692);
}
.i1:hover{
    transform: rotate(10deg);
    transition: all 2s;
}
.i2:hover{
    transform: rotate(10deg);
    transition: all 2s;
}
.i3:hover{
    transform: rotate(10deg);
    transition: all 2s;
}
footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.774);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1{
    margin-left: 30px;
}
.footer2{
    margin-right: 30px;
}